{{#each this}}
<h2 class="country__name">{{name}}</h2>
<div class="country__wrapper">
    <div class="country__info">
        <p class="country__capital">Capital: <span class="info">{{capital}}</span></p>
        <p class="country__population">Population: <span class="info">{{population}}</span></p>
        <p class="country__languages">Languages: </p>
        <ul class="country__languages_list">
            {{#each languages}}
            <li class="country__languages_list_item">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="country__flag_wrapper">
        <img src="{{flag}}" alt="country flag" class="country__flag" width="250">
    </div>
</div>
{{/each}}